{% block autocomplete_widget %}
    <input
        type="hidden"
        id="{{ id }}_items"
        name="{{ id }}_items"
    >
    <input class="form-control entity-select"
           data-url="{{ url }}"
           data-options="{{ items|default('[]')|escape('html_attr') }}"
           data-maxitems="{{ multiple ? 'null' : '1' }}"
           id="{{ id }}"
           name="{{ full_name }}"
           value="{{ value|default('') }}"
        {{ required ? 'required' }}
    />
{% endblock %}

{% block crudit_gedmo_translatable_widget %}
    {% set fieldname = form.vars.name %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            {% for locale in locales %}
                {% set isActiveTab = (locale == currentlocale) ? 'active' : '' %}
                <li class="nav-item {{ isActiveTab }}" role="presentation">
                    <a class="nav-link {{ isActiveTab }}" href="{{ '#' ~ fieldname ~ '_' ~ locale }}"
                       aria-expanded="true" data-bs-toggle="tab">
                        {{ tablabels[locale] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for locale in locales %}
                {% set isActiveTabContent = (locale == currentlocale) ? 'active' : '' %}
                <div id="{{ fieldname ~ '_' ~ locale }}" class="tab-pane {{ isActiveTabContent }}" role="tabpanel">
                    <div class="form-floating">
                        {{ form_widget(attribute(form, locale), {'attr': {'class': 'form-control', 'placeholder': '', 'autocomplete': 'new-password'}}) }}
                        {{ form_label(form) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block crudit_group_row %}
{% endblock %}

{% block crudit_group_label %}
{% endblock %}

{% block crudit_file_widget %}
    <div
        class="{% if download_uri or form.delete is defined %}col-md-9{% else %}col-12 vich-file-full{% endif %} vich-file">
        {%- if errors|length > 0 -%}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
        {%- endif -%}
        {{- form_widget(form.file, {attr: attr}) -}}
    </div>
    {% if download_uri or image_uri is defined or form.delete is defined %}
        <div class="col-md-3">
            {%- if image_uri is defined and image_uri != null and image_uri matches '/.*\.(png|jpg|jpeg|gif|svg)$/' -%}
                <img class="col-12 mb-2" src="{{ image_uri }}" alt=""/>
            {%- endif -%}
            {%- if download_uri -%}
                <div class="d-flex">
                    <i class="fas fa-download mt-1 text-primary"></i>&nbsp;
                    <a class="d-block text-nowrap"
                       href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
                        {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
                        {% if filename is defined %}
                            &nbsp;:&nbsp;
                            {{ filename|lower }}
                        {% endif %}
                    </a>
                </div>
            {%- endif -%}
            {%- if form.delete is defined -%}
                {{- form_row(form.delete) -}}
            {%- endif -%}
        </div>
    {% endif %}
{% endblock %}
