{% block autocomplete_widget %}
    <input
            type="hidden"
            id="{{ id }}_items"
            name="{{ id }}_items"
            value="{{ value|default('') }}"
    >
    <input class="form-control entity-select"
           data-url="{{ url }}"
           data-options="{{ items|default('[]')|escape('html_attr') }}"
           data-maxitems="{{ multiple ? 'null' : '1' }}"
           id="{{ id }}"
           name="{{ full_name }}"
           value="{{ value|default('') }}"
            {{ required ? 'required' }}
    />
{% endblock %}

{% block crudit_gedmo_translatable_widget %}
    {% set fieldname = form.vars.name %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            {% for locale in locales %}
                {% set isActiveTab = (locale == currentlocale) ? 'active' : '' %}
                <li class="nav-item {{ isActiveTab }}" role="presentation">
                    <a class="nav-link {{ isActiveTab }}" href="{{ '#' ~ fieldname ~ '_' ~ locale }}"
                       aria-expanded="true" data-bs-toggle="tab">
                        {{ tablabels[locale] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for locale in locales %}
                {% set isActiveTabContent = (locale == currentlocale) ? 'active' : '' %}
                <div id="{{ fieldname ~ '_' ~ locale }}" class="tab-pane {{ isActiveTabContent }}" role="tabpanel">
                    <div class="form-floating">
                        {{ form_widget(attribute(form, locale), {'attr': {'class': 'form-control', 'placeholder': '', 'autocomplete': 'new-password'}}) }}
                        {{ form_label(form) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block crudit_group_row %}
{% endblock %}

{% block crudit_group_label %}
{% endblock %}

{% block crudit_file_widget %}
    <div
            class="{% if download_uri or form.delete is defined %}col-md-9{% else %}col-12 vich-file-full{% endif %} vich-file">
        {%- if errors|length > 0 -%}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
        {%- endif -%}
        {{- form_widget(form.file, {attr: attr}) -}}
    </div>
    {% if download_uri or image_uri is defined or form.delete is defined %}
        <div class="col-md-3">
            {%- if image_uri is defined and image_uri != null and image_uri matches '/.*\.(png|jpg|jpeg|gif|svg)$/' -%}
                <img class="col-12 mb-2" src="{{ image_uri }}" alt=""/>
            {%- endif -%}
            {%- if download_uri -%}
                <div class="d-flex">
                    <i class="fas fa-download mt-1 text-primary"></i>&nbsp;
                    <a class="d-block text-nowrap"
                       href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
                        {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
                        {% if filename is defined %}
                            &nbsp;:&nbsp;
                            {{ filename|lower }}
                        {% endif %}
                    </a>
                </div>
            {%- endif -%}
            {%- if form.delete is defined -%}
                {{- form_row(form.delete) -}}
            {%- endif -%}
        </div>
    {% endif %}
{% endblock %}

{% block crudit_cron_expression_widget %}
    <link rel="stylesheet" href="https://unpkg.com/cron-expression-input@1.2.7/lib/cron-expression-input.min.css">
    <script src="https://unpkg.com/cron-expression-input@1.2.7/lib/cron-expression-input.min.js"></script>

    <cron-expression-input class="cron-expression-input" color="4E73DF"></cron-expression-input>
{% endblock %}

{% block collection_widget %}
    <div>
        <div class="card">
            <div class="card-body">
                {% if prototype is defined and not prototype.rendered %}
                    {% set prototype_rendered %}
                        <div class="row crudit-collection-ignore">
                            {% for column in prototype %}
                                <div class="{{ column.vars.row_attr.class|default('col') }}">
                                    <label {% with { attr: column.vars.label_attr } %}{{ block('attributes') }}{% endwith %}>
                                        {%- if column.vars.label is not same as(false) -%}
                                            {% with { label: column.vars.label, translation_domain: column.vars.translation_domain} %}
                                                {{- block('form_label_content') -}}
                                            {% endwith %}
                                        {%- endif -%}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row align-items-start">
                            {% for child in prototype|filter(child => not child.rendered) %}
                                {{- form_row(child, { label: false }) -}}
                            {% endfor %}
                        </div>
                    {% endset %}

                    {% set attr = attr|merge({
                        'data-prototype': prototype_rendered|e('html_attr'),
                    }) %}
                {% endif %}
                <div
                        {{ block('widget_container_attributes') }}
                        data-index="{{ form|length ? (form|last.vars.name + 1) : 0 }}"
                        data-name="{{ form.vars.prototype.vars.name }}"
                >
                    {% for row in form|filter(child => not child.rendered) %}
                        {% if not loop.first and row|length %}
                            <hr/>
                        {% endif %}
                        <div class="row crudit-collection-ignore">
                            {% for column in row %}
                                <div class="{{ column.vars.row_attr.class|default('col') }}">
                                    <label {% with { attr: column.vars.label_attr } %}{{ block('attributes') }}{% endwith %}>
                                        {%- if column.vars.label is not same as(false) -%}
                                            {% with { label: column.vars.label, translation_domain: column.vars.translation_domain} %}
                                                {{- block('form_label_content') -}}
                                            {% endwith %}
                                        {%- endif -%}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row align-items-start">
                            {% for child in row|filter(child => not child.rendered) %}
                                {{- form_row(child, { label: false }) -}}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                <button type="button" class="btn btn-sm btn-outline-success crudit-collection-add mx-auto"
                        data-target="#{{ id }}">
                    <i class="fa fa-plus pe-none"></i>&nbsp;{{ 'action.add'|trans }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
