<tfoot>
<tr class="d-none">
    {% for field in view.config.fields %}
        {% if field.ruptGroup == 0 and (field.role == null or is_granted(field.role)) %}
            <th class="{{ field.options.tableCssClass|default('text-nowrap') }}">
                {{ field.label|trans(domain=view.config.translation_domain) }}
            </th>
        {% endif %}
    {% endfor %}
    {% if view.config.actions|length %}
        {% set hasActions = false %}
        {% for action in view.config.actions %}
            {% if
                not crudit_is_dropdown_action(action)
                and (action.path.role is null or is_granted(action.path.role))
                and (action.role is null or is_granted(action.role))
            %}
                {% set hasActions = true %}
            {% endif %}
        {% endfor %}
        {% if hasActions %}
            <th>{{ 'crudit.action'|trans(domain=view.config.translation_domain) }}</th>
        {% endif %}
    {% endif %}
</tr>
{% if view.data.totals %}
    {% set totals = view.data.totals %}
    <tr>
        {% if has_batch %}
            <td></td>
        {% endif %}
        {% for field in view.config.fields %}
            {% set match = false %}
            {% for key, total in totals %}
                {% if field.id == total.field.id %}
                    {% set match = true %}
                    <td>
                        {% if total.field.path %}
                        <a href="{{ path(total.field.path.route, total.field.path.params({'id': line.getLinkId(total.field.linkId)})) }}">
                            {% endif %}
                            {{ total.value|raw }}
                            {% if total.field.path %}
                        </a>
                        {% endif %}
                    </td>
                    {% set totals = totals|filter((v, k) => k != key) %}
                {% endif %}
            {% endfor %}
            {% if not match %}
                <td></td>
            {% endif %}
        {% endfor %}
        {% if hasActions %}
            <td></td>
        {% endif %}
    </tr>
    {% if totals|length %}
        {% set nbCols = view.config.fields|length + (has_batch ? 1 : 0) + (hasActions ? 1 : 0) %}
        <tr>
            <td colspan="{{ nbCols + 1 }}" class="text-end">
                {% for total in totals %}
                    <div class="d-flex justify-content-end"><div>{{ total.field.label|trans }}:&nbsp;</div>{{ total.value|raw }}</div>
                {% endfor %}
            </td>
        </tr>
    {% endif %}
{% endif %}
</tfoot>
