{% set name = view.config.name|lower %}
{% set merge_params = {
    (name ~ '_sort'): field.options.sortProperty ?? field.name,
    (name ~ '_sort_order'): 'asc'
} %}
{% set params = app.request.session.get('crudit_datasourceparams_' ~ name) %}
{% set sorts = params.sorts ?? [
    [app.request.query.get(name ~ '_sort_order'), app.request.query.get(name ~ '_sort')]
] %}

{% set order = sorts|first|last %}
{% set sorted = (sorts|first|first == field.options.sortProperty ?? field.name) %}

{% set icon = 'fa-sort' %}
{% set icon_class = 'text-dark' %}
{% if sorted %}
    {% set icon = 'fa-sort-up' %}
    {% set icon_class = 'text-success' %}
{% endif %}
{% if sorted and order|lower == 'asc' %}
    {% set icon = 'fa-sort-down' %}
    {% set icon_class = 'text-success' %}
    {% set merge_params = merge_params|merge({((view.config.name|lower)~'_sort_order'): 'desc'}) %}
{% endif %}

{% set parameters = app.request.query.all()|merge(merge_params) %}
{% set url = app.request.pathinfo ~ '?' ~ (parameters|url_encode) %}

<th class="{{ field.options.tableCssClass|default('h-100 px-2 text-nowrap') }} {% if sorted and field.sortable %}active{% endif %} {% if field.sortable %}sortable{% endif %}">
    {% if field.sortable %}
        <a href="{{ url }}" class="text-decoration-none">
            <i class="fas fa-sm {{ icon ~ ' ' ~ icon_class }}"></i>
            <span>{{ field.label|trans(domain=view.config.translation_domain) }}</span>
        </a>
    {% else %}
        {{ field.label|trans(domain=view.config.translation_domain) }}
    {% endif %}

    {% if field.info is defined and field.info %}
        <i
            class="fas fa-info-circle"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="{{ field.info|trans }}"
        ></i>
    {% endif %}
</th>
