<tr id="{{ view.gid('line')  }}-{{ line.id }}">

    {% if view.config.bulk %}
        <td>
            <input type="checkbox" name="ids[]" value="{{ item.id }}" class="lego-bulk-checkbox">
        </td>
    {% endif %}

    {% for column in line.fields %}
        <td>
            {{ column.value }}
        </td>
    {% endfor %}

    {% include view.partial('_item_actions') with {'view': view, 'line': line} %}
</tr>
<tr style="display:none;" id="{{ view.gid('line')  }}-{{ line.id }}-tr-detail">
    <td id="{{ view.gid('line')  }}-{{ line.id }}-td-detail" colspan="{{ view.config.fields|length +  view.config.bulk + not view.config.hidden_action  }}">

    </td>
</tr>
