<tr id="{{ view.gid('line')  }}-{{ line.id }}">

    {% if view.config.bulk %}
        <td>
            <input type="checkbox" name="ids[]" value="{{ line.id }}" class="lego-bulk-checkbox">
        </td>
    {% endif %}

    {% for column in line.fields %}
        <td>
            {% dump(column) %}
            {%  if column.field.path %}<a href="{{ path(column.field.path.route, column.field.path.params({'id': line.id})) }}">{%  endif %}
                {{ column.value }}
            {%  if column.field.path %}</a>{%  endif %}
        </td>
    {% endfor %}

    {% include view.partial('_item_actions') with {'view': view, 'line': line} %}
</tr>
<tr style="display:none;" id="{{ view.gid('line')  }}-{{ line.id }}-tr-detail">
    <td id="{{ view.gid('line')  }}-{{ line.id }}-td-detail" colspan="{{ view.config.fields|length +  view.config.bulk + not view.config.hidden_action  }}">

    </td>
</tr>
