<div class="row align-items-center">

    <div class="col-sm-12 col-md-4" role="status" aria-live="polite">
        {% if view.config.datasource_params.count > 0 %}
            {{ 'crudit.pagination.items'|trans({}, 'LleCruditBundle') }}
            <b>{{ view.config.datasource_params.from }}  {{ 'crudit.pagination.to'|trans({}, 'LleCruditBundle') }} {{ view.config.datasource_params.to }}</b>  {{ 'crudit.pagination.of'|trans({}, 'LleCruditBundle') }} {{ view.config.datasource_params.count }}
        {% else %}
            {{ 'crudit.pagination.noItem'|trans({}, 'LleCruditBundle') }}
        {% endif %}
    </div>

    <nav class="col-sm-12 col-md-6" aria-label="navigation">
        <ul class="pagination justify-content-center justify-content-md-start mb-0">
            {% if view.config.datasource_params.previous %}
                {% set merge_params = {(view.config.name|lower~'_offset'): 0} %}
                {% set parameters = app.request.query.all()|merge(merge_params) %}
                {% set url = app.request.pathinfo ~ '?' ~ parameters|url_encode %}
                <li class="page-item">
                    <a class="page-link" href="{{ url }}" title="{{ 'crudit.pagination.firstPage'|trans({}, 'LleCruditBundle') }}" aria-label="{{ 'crudit.pagination.first'|trans({}, 'LleCruditBundle') }}">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                {% set merge_params = {(view.config.name|lower~'_offset'): view.config.datasource_params.limit*(view.config.datasource_params.currentPage-2)} %}
                {% set parameters = app.request.query.all()|merge(merge_params) %}
                {% set url = app.request.pathinfo ~ '?' ~ parameters|url_encode %}
                <li class="page-item">
                    <a class="page-link" href="{{ url }}" title="{{ 'crudit.pagination.previousPage'|trans({}, 'LleCruditBundle') }}" aria-label="{{ 'crudit.pagination.previous'|trans({}, 'LleCruditBundle') }}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}

            {% if view.config.datasource_params.pages|length != 1 %}
                {% for page in view.config.datasource_params.pages %}
                    {% set merge_params = {(view.config.name|lower~'_offset'): (page-1)*view.config.datasource_params.limit} %}
                    {% set parameters = app.request.query.all()|merge(merge_params) %}
                    {% set url = app.request.pathinfo ~ '?' ~ parameters|url_encode %}
                    {% set current = view.config.datasource_params.current(page) %}
                    <li class="page-item {% if current %}active{% endif %}">
                        <a class="page-link" href="{{ url }}" title="{{ 'crudit.pagination.goToPage'|trans({'nb': page}, 'LleCruditBundle') }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            {% if view.config.datasource_params.next %}
                {% set merge_params = {(view.config.name|lower~'_offset'): view.config.datasource_params.limit*(view.config.datasource_params.currentPage)} %}
                {% set parameters = app.request.query.all()|merge(merge_params) %}
                {% set url = app.request.pathinfo ~ '?' ~ parameters|url_encode %}
                <li class="page-item">
                    <a class="page-link" href="{{ url }}" title="{{ 'crudit.pagination.nextPage'|trans({}, 'LleCruditBundle') }}" aria-label="{{ 'crudit.pagination.next'|trans({}, 'LleCruditBundle') }}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                {% set merge_params = {(view.config.name|lower~'_offset'): ((view.config.datasource_params.count/view.config.datasource_params.limit)|round(0, 'ceil')-1)*view.config.datasource_params.limit} %}
                {% set parameters = app.request.query.all()|merge(merge_params) %}
                {% set url = app.request.pathinfo ~ '?' ~ parameters|url_encode %}
                <li class="page-item">
                    <a class="page-link" href="{{ url }}" title="{{ 'crudit.pagination.lastPage'|trans({}, 'LleCruditBundle') }}" aria-label="{{ 'crudit.pagination.last'|trans({}, 'LleCruditBundle') }}">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="col-sm-12 col-md-2">
        <div class="form-floating">
            <select id="items-per-page" class="form-control form-select" style="height: 38px" onchange="window.location.replace(this.value)">
                {% for limit in view.config.choices_nb_items %}
                    {% set merge_params = {(view.config.name|lower~'_limit'): limit} %}
                    {% set parameters = app.request.query.all()|merge(merge_params) %}
                    {% set url = app.request.pathinfo ~ '?' ~ parameters|url_encode %}
                    <option value="{{ url }}" {{ limit == view.config.datasource_params.limit ? "selected" : "" }}>{{ limit }}</option>
                {% endfor %}
            </select>
            <label class="form-label" for="items-per-page">{{ 'crudit.pagination.limit'|trans({}, 'LleCruditBundle') }}</label>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 crudit-batch-list d-none">
        {% for action in view.data.batch_actions %}
            {% set params = action.path.params %}

            {% if action.path.role is null or is_granted(action.path.role) %}
                {% if action.modal %}
                    {% include action.modal with {action: action, id: 'modal_' ~ action.id, params: params} %}
                {% endif %}
                <a
                        class="{{ action.cssClass ?? 'btn btn-sm btn-primary mt-2 ml-2 mt-md-0 crudit-batch-button' }}"
                        {% if action.modal %}
                            data-bs-toggle="modal" data-bs-target="#modal_{{ action.id }}"
                        {% else %}
                            href="{{ action.url ?? path(action.path.route, params) }}"
                        {% endif %}
                        title="{{ action.label|trans }}"
                >
                    {% if action.icon %}<i class="{{ action.icon.cssClass }}"></i>{% endif %}
                    {% if not action.hideLabel %}{{ action.label|trans }}{% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
