{% block autorefresh %}
    {% if view.data.auto_refresh is defined and view.data.auto_refresh %}
        <meta http-equiv="refresh" content="{{ view.data.auto_refresh }}">
    {% endif %}
{% endblock %}

{% set has_batch = view.data.batch_actions|length %}
<div class="card shadow mb-4">
    <div class="card-header py-1">
        {% include('@LleCrudit/brick/list_items/_pager.html.twig') %}
        {% include('@LleCrudit/brick/list_items/actions/_batch_actions.html.twig') %}
    </div>

    <div class="card-body p-0">
        <div class="table-responsive crudit-list">
            <table id="{{ view.id }}_table" class="table table-sm table-hover">
                {% if not view.options.noHeader|default(false) %}
                    <thead class="table-active">
                    <tr>
                        {% if has_batch %}
                            <th>
                                <span>
                                    <input type="checkbox" id="crudit-batch-check-all" autocomplete="off">
                                </span>
                            </th>
                        {% endif %}
                        {% for field in view.config.fields %}
                            {% if
                                field.role is not defined or field.role is null or
                                (field.role is defined and field.role is not null and is_granted(field.role))
                            %}
                                {% if (field.ruptGroup == 0 or not field.ruptHideFromList) and (field.role == null or is_granted(field.role)) %}
                                    {% block heading_cell %}
                                        {{ include('@LleCrudit/brick/list_items/_heading_cell.html.twig') }}
                                    {% endblock %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if view.config.actions|length %}
                            {% set hasActions = false %}
                            {% for action in view.config.actions %}
                                {% if
                                    (
                                        not crudit_is_dropdown_action(action)
                                        and (action.path.role is null or is_granted(action.path.role))
                                        and (action.role is null or is_granted(action.role))
                                    ) or (
                                        crudit_is_dropdown_action(action)
                                        and (action.role is null or is_granted(action.role))
                                    )
                                %}
                                    {% set hasActions = true %}
                                {% endif %}
                            {% endfor %}
                            {% if hasActions %}
                                <th>{{ 'crudit.action'|trans(domain=view.config.translation_domain) }}</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                    </thead>
                {% endif %}

                <tbody>
                {% set currentGroup = null %}
                {% set nbCols = view.config.fields|length + (has_batch ? 1 : 0) + (hasActions is defined and hasActions ? 1 : 0) %}
                {% for line in view.data.lines %}
                    {% if line.ruptGroup1 is not null %}
                        {% if currentGroup is not null and view.data.grouped_totals[currentGroup] is defined %}
                            <tr class="table-secondary fw-bold">
                                {% if has_batch %}<td></td>{% endif %}
                                {% set groupTotals = view.data.grouped_totals[currentGroup] %}
                                {% for field in view.config.fields %}
                                    {% if (field.ruptGroup == 0 or not field.ruptHideFromList) and (field.role == null or is_granted(field.role)) %}
                                        {% set match = false %}
                                        {% for key, total in groupTotals %}
                                            {% if field.id == total.field.id %}
                                                {% set match = true %}
                                                <td>{{ total.value|raw }}</td>
                                                {% set groupTotals = groupTotals|filter((v, k) => k != key) %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if not match %}<td></td>{% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if hasActions is defined and hasActions %}<td></td>{% endif %}
                            </tr>
                        {% endif %}

                        <tr{% if line.ruptGroup1.cssClass %} class="{{ line.ruptGroup1.cssClass }}"{% endif %}>
                            <th colspan="{{ nbCols }}">{{ line.ruptGroup1.display|raw }}</th>
                        </tr>
                        {% set currentGroup = line.ruptGroup1.key %}
                    {% endif %}

                    {% if line.ruptGroup2 is not null %}
                        <tr{% if line.ruptGroup2.cssClass %} class="{{ line.ruptGroup2.cssClass }}"{% endif %}>
                            <th colspan="{{ nbCols }}">{{ line.ruptGroup2.display|raw }}</th>
                        </tr>
                    {% endif %}

                    <tr id="{{ 'list-' ~ view.config.name|lower ~ '-' ~ line.id }}" {% if line.resource and line.resource.getCssClass is defined %}class="{{ line.resource.getCssClass }}"{% endif %}>
                        {% if has_batch %}
                            <td><input class="crudit-batch-check" data-id="{{ line.id }}" type="checkbox" autocomplete="off"/></td>
                        {% endif %}
                        {% for column in line.fields %}
                            {% if
                                column.field.role is not defined or column.field.role is null or
                                (column.field.role is defined and column.field.role is not null and is_granted(column.field.role))
                            %}
                                {% if column.field.ruptGroup == 0 or not column.field.ruptHideFromList %}
                                    <td id="{{ 'list-' ~ view.config.name|lower ~ '-' ~ line.id ~ '-' ~ column.field.id|lower ~ '-' ~ column.field.label|replace({'field.': '', 'label.': ''})|lower }}">
                                        {% if column.field.path %}
                                        <a href="{{ path(column.field.path.route, column.field.path.params({'id': line.getLinkId(column.field.linkId)})) }}">
                                            {% endif %}
                                            {{ column.value|raw }}
                                            {% if column.field.path %}
                                        </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if view.config.actions|length %}
                            {% include('@LleCrudit/brick/list_items/_actions.html.twig') %}
                        {% endif %}
                    </tr>

                {% endfor %}

                {% if currentGroup is not null and view.data.grouped_totals[currentGroup] is defined %}
                    <tr class="table-secondary fw-bold">
                        {% if has_batch %}<td></td>{% endif %}
                        {% set groupTotals = view.data.grouped_totals[currentGroup] %}
                        {% for field in view.config.fields %}
                            {% if (field.ruptGroup == 0 or not field.ruptHideFromList) and (field.role == null or is_granted(field.role)) %}
                                {% set match = false %}
                                {% for key, total in groupTotals %}
                                    {% if field.id == total.field.id %}
                                        {% set match = true %}
                                        <td>{{ total.value|raw }}</td>
                                        {% set groupTotals = groupTotals|filter((v, k) => k != key) %}
                                    {% endif %}
                                {% endfor %}
                                {% if not match %}<td></td>{% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if hasActions is defined and hasActions %}<td></td>{% endif %}
                    </tr>
                {% endif %}

                </tbody>
                {% include '@LleCrudit/brick/list_items/_footer.html.twig' with {'view': view} %}
            </table>
        </div>
    </div>
    <div class="card-footer py-1">
        {% include('@LleCrudit/brick/list_items/_pager.html.twig') %}
    </div>
</div>