<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{#  {{ view.config.title }} #}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="{{ view.id }}" width="100%" cellspacing="0">
                <thead>
                <tr>
                    {% for field in view.config.fields %}
                        <th>{{ field.label |trans }}</th>
                    {% endfor %}
                    {%  if view.data.actions|length %}
                        <th>{{  'crudit.action'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for line in view.data.lines %}
                        <tr>
                        {% for column in line.fields %}
                            <td>
                                {%  if column.field.path %}<a href="{{ path(column.field.path.route, column.field.path.params({'id': line.id})) }}">{%  endif %}
                                    {{ column.value }}
                                {%  if column.field.path %}</a>{%  endif %}
                            </td>
                        {% endfor %}
                        {%  if view.data.actions|length %}
                            <td>
                            {%  for action in view.data.actions %}
                                <a class="btn btn-primary btn-xs mr-2" href="{{ path(action.path.route, action.path.params({'id': line.id})) }}">{{ action.label|trans }}</a>
                            {%  endfor %}
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
