{% block autorefresh %}
    {% if view.data.auto_refresh is defined and view.data.auto_refresh %}
        <meta http-equiv="refresh" content="{{ view.data.auto_refresh }}">
    {% endif %}
{% endblock %}

{% set has_batch = view.data.batch_actions|length %}
<div class="card shadow mb-4">
    <div class="card-header py-1">
        {% include('@LleCrudit/brick/list_items/_pager.html.twig') %}
        {% include('@LleCrudit/brick/list_items/_batch.html.twig') %}
    </div>

    <div class="card-body">
        <div class="table-responsive crudit-list">
            <table id="{{ view.id }}_table" class="table table-sm table-hover">
                {% if not view.options.noHeader|default(false) %}
                    <thead class="thead-light">
                    <tr>
                        {% if has_batch %}
                            <th>
                                <span>
                                    <input type="checkbox" id="crudit-batch-check-all" autocomplete="off">
                                </span>
                            </th>
                        {% endif %}
                        {% for field in view.config.fields %}
                            {% if
                                field.role is not defined or field.role is null or
                                (field.role is defined and field.role is not null and is_granted(field.role))
                            %}
                                {% if field.ruptGroup == 0 and (field.role == null or is_granted(field.role)) %}
                                    <th class="{{ field.options.tableCssClass|default('text-nowrap') }}">
                                        {{ field.label|trans(domain=view.config.translation_domain) }}
                                        {% if field.sortable %}
                                            {% set name = view.config.name|lower %}
                                            {% set merge_params = {
                                                (name ~ '_sort'): field.options.sortProperty ?? field.name,
                                                (name ~ '_sort_order'): 'asc'
                                            } %}
                                            {% set params = app.request.session.get('crudit_datasourceparams_' ~ name) %}
                                            {% set sorts = params.sorts ?? [
                                                [app.request.query.get(name ~ '_sort_order'), app.request.query.get(name ~ '_sort')]
                                            ] %}

                                            {% set order = sorts|first|last %}
                                            {% set sorted = (sorts|first|first == field.options.sortProperty ?? field.name) %}

                                            {% set icon = 'fa-sort' %}
                                            {% if sorted %}
                                                {% set icon = 'fa-sort-up' %}
                                            {% endif %}
                                            {% if sorted and order|lower == 'asc' %}
                                                {% set icon = 'fa-sort-down' %}
                                                {% set merge_params = merge_params|merge({((view.config.name|lower)~'_sort_order'): 'desc'}) %}
                                            {% endif %}
                                            {% set parameters = app.request.query.all()|merge(merge_params) %}
                                            {% set url = app.request.pathinfo ~ "?" ~ (parameters|url_encode) %}
                                            {% if field.info is defined and field.info %}
                                                <i
                                                    class="fas fa-info-circle"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom"
                                                    data-bs-custom-class="custom-tooltip"
                                                    data-bs-title="{{ field.info|trans }}"
                                                ></i>
                                            {% endif %}
                                            <span>
                                                <a href="{{ url }}" class="btn btn-sm {% if sorted %}active{% endif %}">
                                                    <i class="fas {{ icon }}"></i>
                                                </a>
                                            </span>
                                        {% endif %}
                                    </th>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if view.config.actions|length %}
                            {% set hasActions = false %}
                            {% for action in view.config.actions %}
                                {% if
                                    (
                                        not crudit_is_dropdown_action(action)
                                        and (action.path.role is null or is_granted(action.path.role))
                                        and (action.role is null or is_granted(action.role))
                                    ) or (
                                        crudit_is_dropdown_action(action)
                                        and (action.role is null or is_granted(action.role))
                                    )
                                %}
                                    {% set hasActions = true %}
                                {% endif %}
                            {% endfor %}
                            {% if hasActions %}
                                <th>{{ 'crudit.action'|trans(domain=view.config.translation_domain) }}</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                    </thead>
                {% endif %}

                <tbody>
                {% set ruptval1 = '' %}
                {% set ruptval2 = '' %}
                {% for line in view.data.lines %}
                    {% set line_opened = 0 %}
                    {% for column in line.fields %}
                        {% if
                            column.field.role is not defined or column.field.role is null or
                            (column.field.role is defined and column.field.role is not null and is_granted(column.field.role))
                        %}
                            {# RUPTURE NIVEAU 1 #}
                            {% if column.field.ruptGroup == 1 %}
                                {% if ruptval1 != column.value %}
                                    <tr>
                                        <th colspan="{{ line.fields|length + 1 }}">{{ column.value|raw }}</th>
                                    </tr>
                                    {% set ruptval2 = '' %}
                                {% endif %}
                                {% set ruptval1 = column.value %}
                            {% endif %}

                            {# RUPTURE NIVEAU 2 #}
                            {% if column.field.ruptGroup == 2 %}
                                {% if ruptval2 != column.value %}
                                    <tr>
                                        <th colspan="{{ line.fields|length + 1 }}">{{ column.value|raw }}</th>
                                    </tr>
                                {% endif %}
                                {% set ruptval2 = column.value %}
                            {% endif %}

                            {% if column.field.ruptGroup == 0 %}
                                {% if line_opened == 0 %}
                                    <tr id="{{ 'list-' ~ view.config.name|lower ~ '-' ~ line.id }}" {% if line.resource and line.resource.getCssClass is defined %}class="{{ line.resource.getCssClass }}"{% endif %}>
                                    {% set line_opened = 1 %}
                                    {% if has_batch %}
                                        <td><input class="crudit-batch-check" data-id="{{ line.id }}" type="checkbox"
                                                   autocomplete="off"/></td>
                                    {% endif %}
                                {% endif %}
                                <td id="{{ 'list-' ~ view.config.name|lower ~ '-' ~ line.id ~ '-' ~ column.field.id|lower ~ '-' ~ column.field.label|replace({'field.': '', 'label.': ''})|lower }}">
                                    {% if column.field.path %}
                                    <a href="{{ path(column.field.path.route, column.field.path.params({'id': line.getLinkId(column.field.linkId)})) }}">
                                        {% endif %}
                                        {{ column.value|raw }}
                                        {% if column.field.path %}
                                    </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if view.config.actions|length %}
                        {% include('@LleCrudit/brick/list_items/_actions.html.twig') %}
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                {% include '@LleCrudit/brick/list_items/_footer.html.twig' with {'view': view} %}
            </table>
        </div>
    </div>
    <div class="card-footer py-1">
        {% include('@LleCrudit/brick/list_items/_pager.html.twig') %}
    </div>
</div>
