<form autocomplete="off">
    <div class="card shadow mb-1">
        <div class="card-header py-1">
            <h6 class="m-2 font-weight-bold float-start text-primary">
                <i class="icon fa fa-search"></i>&nbsp;
                {{ 'crudit.title.filter'|trans({}, 'LleCruditBundle') }}
            </h6>
            <span id="card-toggle" class="btn float-end" data-bs-toggle="collapse" data-bs-target="#collapse-filter" aria-expanded="true" aria-controls="collapse-filter">
                <i class="fa fa-chevron-up"></i>
            </span>
            {% for id, filter in view.data.filters %}
                {% set vars = {
                    'data': filter.data,
                    'id': id,
                    'filtertype':filter}
                %}
                {% include filter.stateTemplate with vars %}
            {% endfor %}
        </div>

        <div id="collapse-filter" class="collapse show card-body">
            <div class="row">
                {% for id, filter in view.data.filters %}
                    <div class="{% if filter.hidden %}d-none{% endif %} col-xxl-3 col-xl-4 col-lg-6 col-xs-12 mb-3 flex-nowrap">
                        {% set vars = {
                            'data': filter.data,
                            'id': 'filter_'~ id,
                            'filtertype': filter}
                        %}
                        {% include filter.template with vars %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="card-footer py-1">
            <button class="btn btn-sm btn-primary" name="{{ view.data.filterset.id}}_filter" value="filter" type="submit">
                <i class="fa fa-filter"></i>&nbsp;
                {{ 'crudit.filter.action'|trans({}, 'LleCruditBundle') }}
            </button>
            <button class="btn btn-sm btn-default" name="{{ view.data.filterset.id}}_reset" value="reset" type="submit">
                <i class="fa fa-window-close"></i>&nbsp;
                {{ 'crudit.filter.reset'|trans({}, 'LleCruditBundle') }}
            </button>
        </div>
    </div>
</form>
