{% if view.field.editInPlace %}
    {% if view.field.autocompleteUrl %}
        {% set autocompleteUrl = path(view.field.autocompleteUrl) %}
    {% else %}
        {% set autocompleteUrl = path(resource|get_crudit_routename_key_field(view.field.id, 'autocomplete')) %}
    {% endif %}

    {% if view.field.options['edit_route'] is defined and view.field.options['edit_route'] %}
        {% set editUrl = path(view.field.options['edit_route'], {'id': resource.id}) %}
    {% else %}
        {% set editUrl = path(resource|get_crudit_routename_key_object('editdata', {'id': resource.id}), {'id': resource.id}) %}
    {% endif %}

    <div class="crudit-eip" data-field="{{ view.field.id }}" data-edit_url="{{ editUrl }}">
        <form class="form-inline d-none">
            <input type="hidden" id="input-doctrine-entity-{{ view.field.id }}_{{ resource.id }}_items"
                   name="{{ view.field.id }}_items"
                   value="{{ data["items"]|default("[]")|escape('html_attr') }}"/>
            <div class="control-group form-group d-flex justify-content-around align-items-center">
                <input
                    type="text"
                    id="input-doctrine-entity-{{ view.field.id }}_{{ resource.id }}"
                    class="form-control form-control-sm entity-select crudit-eip-input"
                    style="min-width: 150px;"
                    autocomplete="off"
                    value="{{ value }}"
                    data-url="{{ autocompleteUrl }}"
                    data-options="[]"
                    data-maxItems="{{ view.field.multiple ? 'null' : '1' }}"
                >
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary crudit-eip-submit">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="button" class="btn btn-default crudit-eip-cancel">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
            <div class="editable-error-block help-block" style="display: none;">
            </div>
        </form>
        <div class="crudit-eip-value">{{ value }}</div>
    </div>
{% elseif value %}
    {% if value is iterable %}
        <span class="badge bg-primary rounded-pill">{{ value|length }}</span>
    {% elseif not view.options.link %}
        {{ value }}
    {% elseif view.options.route %}
        {% if view.options.routeRole is defined and view.options.routeRole is not null and is_granted(view.options.routeRole) %}
            <a href="{{ path(view.options.route, {'id': value.id}) }}">{{ value }}</a>
        {% else %}
            {{ value }}
        {% endif %}
    {% elseif value|get_crudit_routename is null %}
        {{ value }}
    {% else %}
        {% set route = value|get_crudit_routename %}
        {% set role = route|replace({'app_crudit': 'role'})|upper %}

        {% if is_granted(role) %}
            <a href="{{ path(value|get_crudit_routename, {'id': value.id}) }}">{{ value }}</a>
        {% else %}
            {{ value }}
        {% endif %}
    {% endif %}
{% endif %}
