{% if value is iterable %}
    <span class="badge bg-primary rounded-pill">{{ value|length }}</span>
{% elseif not view.options.link %}
    {{ value }}
{% elseif view.options.route %}
    <a href="{{ path(view.options.route, {'id': value.id}) }}">{{ value }}</a>
{% else %}
    <a href="{{ path(value|get_class, {'id': value.id}) }}">{{ value }}</a>
{% endif %}
