<nav class="navbar navbar-light bg-light mb-4 px-2 shadow">
    <h4 class="navbar-brand text-primary mb-0">{{ view.config.title|trans({'%entity%':view.data.entity}) }}</h4>
    <div>
        {% for action in view.data.actions %}
            {% if action.modal %}
                {% include action.modal with {action: action, id: 'modal_' ~ action.id } %}
            {% endif %}
            <a
                    class="{{ action.cssClass ?? 'btn btn-sm btn-primary ml-2' }}"
                    {% if action.modal %}
                        data-bs-toggle="modal" data-bs-target="#modal_{{ action.id }}"
                    {% else %}
                        href="{{ action.url ?? path(action.path.route, action.path.params) }}"
                    {% endif %}
                    title="{{ action.label | trans }}"
            >
                {% if action.icon %}<i class="{{ action.icon.cssClass }}"></i>{% endif %}
                {% if not action.hideLabel %}{{ action.label | trans }}{% endif %}
            </a>
        {% endfor %}
    </div>
</nav>

