<nav class="navbar navbar-light bg-light mb-2 px-2 shadow">
    <h4 class="navbar-brand text-primary mb-0 {% if view.data.resource.getCssClass is defined %}{{ view.data.resource.getCssClass }}{% endif %}">
        {{ view.config.title|trans({'%entity%': view.data.entity}, view.config.translation_domain) }}
    </h4>
    <div class="position-relative d-inline-flex">
        {% set has_dropdown = false %}
        {% block links_actions %}
            {% for action in view.data.actions %}
                {% if crudit_is_dropdown_action(action) %}
                    {% block dropdown_actions %}
                        {{ include('@LleCrudit/brick/links/actions/_dropdown_actions.html.twig', {dropdown_action: action, view: view}) }}
                    {% endblock %}
                {% elseif not action.dropdown %}
                    {% block actions %}
                        {{ include('@LleCrudit/brick/links/actions/_actions.html.twig', {action: action, view: view}) }}
                    {% endblock %}
                {% else %}
                    {% set has_dropdown = true %}
                {% endif %}
            {% endfor %}

            {% if has_dropdown %}
                {% block kebab_dropdown_actions %}
                    {{ include('@LleCrudit/brick/links/actions/_kebab_dropdown_actions.html.twig', {view: view}) }}
                {% endblock %}
            {% endif %}
        {% endblock %}
    </div>
</nav>
