<nav class="navbar navbar-light bg-light mb-2 px-2 shadow">
    <h4 class="navbar-brand text-primary mb-0">{{ view.config.title|trans({'%entity%': view.data.entity}) }}</h4>
    <div>
        {% for action in view.data.actions %}
            {% set params = action.path.params %}
            {% if view.data.resource %}
                {% do action.setResource(view.data.resource) %}
            {% endif %}
            {% set id = app.request.attributes.get('id') %}
            {% if id %}
                {% set params = action.path.params|merge({id: id}) %}
            {% endif %}

            {% if
                (action.path.role is null or is_granted(action.path.role))
                and (is_granted('ROLE_VOTER', action))
                and not action.dropdown
            %}
                {% if action.modal %}
                    {% include action.modal with {action: action, id: 'modal_' ~ action.id, params: params} %}
                {% endif %}
                <span class="btn-wrapper" title="{{ action.title|trans }}">
                    <a
                            class="{{ action.cssClass ?? 'btn btn-sm btn-primary mt-2 ml-2 mt-md-0' }} {% if action.disabled %}disabled{% endif %}"
                            {% if action.modal %}
                                data-bs-toggle="modal" data-bs-target="#modal_{{ action.id }}"
                            {% elseif not action.disabled %}
                                href="{{ action.url ?? path(action.path.route, params) }}"
                            {% endif %}
                    >
                        {% if action.icon %}<i class="{{ action.icon.cssClass }}"></i>{% endif %}
                        {% if not action.hideLabel %}{{ action.label|trans }}{% endif %}
                    </a>
                </span>
            {% endif %}
        {% endfor %}
    </div>
</nav>
