{%  set form = view.data.form %}
<div class="card shadow mb-4">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{# {{ view.config.title }} #}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                {{ form_errors(form) }}
                {% for field in form.getIterator() %}
                    {{ form_row(field) }}
                {% endfor %}

            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">{{ 'crudit.action.save' | trans }}</button>
        </div>
    {{ form_end(form) }}
</div>
