{% if view.role is not defined or not view.role or is_granted(view.role, view.data.resource) %}
    {% set form = view.data.form %}
    {% set currentGroup = 'FIRST' %}
    {% set displayClass = "" %}
    {%  set formClass="" %}
    {% if view.data.options.horizontalForm is defined %}
        {% set displayClass ="d-inline-block" %}
        {%  set formClass="crudit-horizontal" %}
    {% endif %}
    <div class="card mb-4 {{ formClass }}">
    {% if view.data.title %}
        {% block form_title %}
            <div class="card-header">
                <h6 class="mb-0 fw-bold {% if view.data.titleCss %} {{ view.data.titleCss }} {% endif %}">{{ view.data.title|trans }}</h6>
            </div>
        {% endblock %}
    {% endif %}
    <div class="card-body">
    {% set id = form.vars.name %}

    {% set form_attributes =  {'class': 'form-horizontal needs-validation', 'novalidate': 'novalidate', 'autocomplete': 'off'} %}
    {% if view.id is defined and view.id %}
        {% set id = view.id ~ '-' ~ form.vars.name %}
        {% set form_attributes = form_attributes|merge({'id': id}) %}
    {% endif %}

    {{ form_start(form, {'attr': form_attributes}) }}
    {{ form_errors(form) }}
    {% if view.data.referer is defined and view.data.referer %}
        <input type="hidden" name="referer" value="{{ view.data.referer }}">
    {% endif %}
    {% for field in form.getIterator() %}
        {% if field.vars.isGroup is defined and field.vars.isGroup %}
            {% do field.setRendered %} {# To avoid rendering at the end of the form, fields that have already been rendered in groups #}
            {% if currentGroup != 'FIRST' %}
                </div>
                </fieldset>
                </div>
            {% else %}
                <div class="row">
            {% endif %}
            {% set currentGroup = field.vars.id %}
            <div class="p-1 {{ field.vars.fieldset_class }}">
            <fieldset id="{{ field.vars.id }}" class="border p-2 crudit-group">
            <legend class="w-auto crudit-group">{{ field.vars.label|trans }}</legend>
            <div class="row">
        {% else %}
            {% if field.vars.name != '_token' %}
                <div class="{{ displayClass }} position-relative {{ field.vars.attr.class|default('') }}">
                    <div
                        class="form-floating mb-4 {% if (field.vars.block_prefixes[1] == 'crudit_file') %}row flex-row-reverse align-items-start{% endif %}"
                        {% if
                            (field.vars.tooltip is defined and field.vars.tooltip)
                            or (field.vars.tooltip_html is defined and field.vars.tooltip_html)
                            or (field.vars.tooltip_template is defined and field.vars.tooltip_template) %}
                            style="max-width: calc(100% - 40px)"
                        {% endif %}
                    >
                        {% set attr = {'placeholder': '', 'autocomplete': 'new-password'}|merge(field.vars.attr) %}
                        {{ form_widget(field, {attr}) }}
                        {% if field.vars.block_prefixes[1] != 'crudit_gedmo_translatable' %}
                            {{ form_label(field) }}
                        {% endif %}
                        <div class="px-2">
                            {% if field.vars.help is defined %}
                                {{ form_help(field) }}
                            {% endif %}
                            {% if field.vars.errors is defined %}
                                {{ form_errors(field) }}
                            {% endif %}
                        </div>
                    </div>
                    {% include '@LleCrudit/brick/form/_tooltip.html.twig' %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if currentGroup != 'FIRST' %}
        </div>
        </fieldset>
        </div>
        </div>
    {% endif %}

    {% block form_buttons %}
        <div class="d-flex">
            {% if view.data.cancel_path %}
                <a class="btn btn-danger" href="{{ path(view.data.cancel_path.route, view.data.cancel_path.params) }}">
                    {{ 'crudit.action.cancel'|trans({}, 'LleCruditBundle') }}
                </a>
            {% endif %}
            <button class="ms-auto btn btn-primary" type="submit">
                {{ 'crudit.action.save'|trans({}, 'LleCruditBundle') }}
            </button>
        </div>
    {% endblock %}
    {{ form_end(form) }}
    </div>
    </div>
{% endif %}
