{% set form = view.data.form %}
{% set currentGroup = "FIRST" %}

<div class="mb-4">
    {{ form_start(form, {'attr': {'class': 'form-horizontal needs-validation', 'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    {{ form_errors(form) }}
    {% for field in form.getIterator() %}
        {% if field.vars.isGroup is defined and field.vars.isGroup %}
            {%  if currentGroup !=  "FIRST" %}
                    </div>
                 </fieldset>
              </div>
            {% else %}
                <div class="row">
            {% endif %}
            <div class="p-1 {{ field.vars.fieldset_class }}">
            <fieldset class="border p-2 crudit-group ">
                <legend class="w-auto crudit-group">{{ field.vars.label |trans }}</legend>
                <div class="row">
                {% set currentGroup =  field.vars.id %}
        {% else %}
            {% if field.vars.name != '_token' %}
                <div class="form-floating mb-4 {{ field.vars.attr.class|default('') }}">
                    {% set attr = {'placeholder': '', 'autocomplete': 'new-password'} | merge(field.vars.attr) %}
                    {{ form_widget(field, {attr}) }}
                    {% if field.vars.block_prefixes[1] != 'crudit_gedmo_translatable' %}
                        {{ form_label(field) }}
                    {% endif %}
                    <div class="px-2">
                        {{ form_help(field) }}
                        {{ form_errors(field) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {%  if currentGroup !=  "FIRST" %}
                </div>
         </fieldset>
            </div>
       </div>
    {% endif %}
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">{{ 'crudit.action.save'|trans({}, 'LleCruditBundle') }}</button>
        {% if view.data.cancel_path %}
            <a href="{{ path(view.data.cancel_path.route, view.data.cancel_path.params) }}" class="btn btn-danger">
                {{ 'crudit.action.cancel'|trans({}, 'LleCruditBundle') }}
            </a>
        {% endif %}
    </div>
    {{ form_end(form, {render_rest: false}) }}
</div>
