<aside class="main-sidebar">
    <section class="sidebar">

        <ul class="sidebar-menu">
            {%  for item in crudit.menuItems %}
                {%  if item.type == 'header' %}
                    <li class="header">{{ item.libelle|trans }}</li>
                {%  else %}
                        <li class="{{ item.cssClass }}">
                            <a href="{% if item.path %}{{ path(item.path.route, item.path.params) }}{% else %}#{%  endif %}">
                                <i class="fa fa-{{ item.icon }}"></i> <span>{{ item.libelle|trans }}</span>
                                <span class="pull-right-container">
                                    {%  if item.labels %}
                                        {%  for label in item.labels %}
                                            <small class="label pull-right {{ label.cssClass }}">{{ label.libelle|trans }}</small>
                                        {%  endfor %}
                                    {%  endif %}
                            </span>
                            </a>
                        </li>
                {%  endif  %}
            {%  endfor %}
        </ul>


    </section>
</aside>
