{% if where == 'header-nav' %}
    <li class="nav-item">
        {% if element.path %}
            {% set path = path(element.path.route, element.path.params) %}
        {% endif %}
        <a class="nav-link py-2" href="{{ path|default('#') }}" target="_blank">
            {{ element.libelle|trans() }}
            &nbsp;<i class="fas fa-external-link-alt"></i>
        </a>
    </li>
{% elseif submenu|default(false) %}
    {% if element.path %}
        {% set path = path(element.path.route, element.path.params) %}
    {% endif %}
    <a class="collapse-item m-0" href="{{ path|default('#') }}" target="_blank">
        {% if element.icon and element.icon.img %}
            <img class="img-thumbnail" src="{{ element.icon.icon }}" alt="{{ element.libelle|trans() }}"/>
        {% elseif element.icon %}
            <i class="nav-icon {{ element.icon.cssClass }}"></i>
        {% endif %}
        <span>
            {{ element.libelle|trans() }}
            &nbsp;<i class="fas fa-external-link-alt"></i>
            {% for badge in element.badges %}
                <span class="right badge {{ badge.cssClass }}">{{ badge.libelle|trans() }}</span>
            {% endfor %}
        </span>
    </a>
{% else %}
    <li class="nav-item {{ element.cssClass }}">
        {% if element.path %}
            {% set path = path(element.path.route, element.path.params) %}
        {% endif %}
        <a id="heading-{{ element.id }}" class="nav-link py-2" href="{{ path|default('#') }}" target="_blank">
            {% if element.icon and element.icon.img %}
                <img class="img-thumbnail" src="{{ element.icon.icon }}" alt="{{ element.libelle|trans() }}"/>
            {% elseif element.icon %}
                <i class="nav-icon {{ element.icon.cssClass }}"></i>
            {% endif %}
            <span>
                {{ element.libelle|trans() }}
                &nbsp;<i class="fas fa-external-link-alt"></i>
                {% for badge in element.badges %}
                    <span class="right badge {{ badge.cssClass }}">{{ badge.libelle|trans() }}</span>
                {% endfor %}
            </span>
        </a>
    </li>
{% endif %}
