{% if where == 'header-nav' %}
    <li class="nav-item">
        <a class="nav-link py-2" href="{{ element.url|default('#') }}" target="{{ element.target }}">
            {{ element.libelle|trans() }}
            {% if element.target == '_blank' %}
                &nbsp;<i class="fas fa-external-link-alt"></i>
            {% endif %}
        </a>
    </li>
{% elseif submenu|default(false) %}
    <a class="collapse-item m-0" href="{{ element.url|default('#') }}" target="{{ element.target }}">
        {% if element.icon and element.icon.img %}
            <img class="img-thumbnail" src="{{ element.icon.icon }}" alt="{{ element.libelle|trans() }}"/>
        {% elseif element.icon %}
            <i class="nav-icon {{ element.icon.cssClass }}"></i>
        {% endif %}
        <span>
            {{ element.libelle|trans() }}
            {% if element.target == '_blank' %}
                &nbsp;<i class="fas fa-external-link-alt"></i>
            {% endif %}
        </span>
    </a>
{% else %}
    <li class="nav-item {{ element.cssClass }}">
        <a id="heading-{{ element.id }}" class="nav-link py-2" href="{{ element.url|default('#') }}" target="{{ element.target }}">
            {% if element.icon and element.icon.img %}
                <img class="img-thumbnail" src="{{ element.icon.icon }}" alt="{{ element.libelle|trans() }}"/>
            {% elseif element.icon %}
                <i class="nav-icon {{ element.icon.cssClass }}"></i>
            {% endif %}
            <span>
                {{ element.libelle|trans() }}
                {% if element.target == '_blank' %}
                    &nbsp;<i class="fas fa-external-link-alt"></i>
                {% endif %}
            </span>
        </a>
    </li>
{% endif %}
