{%  if where == 'header-nav' %}
    <li class="nav-item">
        <a href="{% if element.path %}{{ path(element.path.route, element.path.params) }}{% else %}#{%  endif %}" class="nav-link {%  if crudit.isActive(element, app.request) %}active{%  endif %}">
            {{ element.libelle|trans }}
        </a>
    </li>
{%  else %}
    <li class="nav-item {%  if element.children|length %}has-treeview{% endif%} {{ element.cssClass }}">
        <a
            href="{% if element.path %}{{ path(element.path.route, element.path.params) }}{% else %}#{%  endif %}"
            class="nav-link  {%  if crudit.isActive(element, app.request) %}active{%  endif %}">
            {%  if element.icon and element.icon.img %}
                <img src="{{ element.icon.icon }}" class="img-thumbnail"/>
            {%  elseif element.icon  %}
                <i class="nav-icon  {{  element.icon.cssClass }}"></i>
            {%  endif %}
            <span>
                {{ element.libelle|trans }}

                {%  if element.children|length %}
                    <div class="float-right show-toggle" data-toggle="#{{ element.libelle|replace({'.': '-'}) }}">
                        <i class="right fas fa-angle-left" ></i>
                    </div>
                {%  endif %}

                {%  if element.badges|length %}
                    {%  for badge in element.badges %}
                        <span class="right badge {{ badge.cssClass }}">{{ badge.libelle|trans }}</span>
                    {%  endfor %}
                {%  endif %}

            </span>
        </a>

        {%  if element.children %}
            <ul class="list-children collapse" id="{{ element.libelle|replace({'.': '-'}) }}">
                {%  for child in element.children %}
                    {% include crudit.template(element.template) with {'element': child} %}
                {%  endfor %}
            </ul>
        {%  endif %}
    </li>
{%  endif %}
