{% set active = crudit_menu_active(element, app.request) %}
<li class="nav-item sidebar-item {% if elementType == 'sidebar-item' %}{{ element.cssClass }}{% endif %} {% if active %}active{% endif %}">
    {% if element.path %}
        {% set path = path(element.path.route, element.path.params) %}
    {% endif %}
    <a href="{{ path|default('#') }}" id="heading-{{ element.id }}" class="nav-link {{ elementType }}">
        {% if element.icon and element.icon.img %}
            <img src="{{ element.icon.icon }}" class="img-thumbnail" alt="{{ element.libelle|trans }}">
        {% elseif element.icon %}
            <i class="nav-icon {{ element.icon.cssClass }}"></i>
        {% endif %}
        <span>
            {{ element.libelle|trans }}
            {% for badge in element.badges %}
                <span class="right badge {{ badge.cssClass }}">{{ badge.libelle|trans }}</span>
            {% endfor %}
        </span>
    </a>
</li>