{# basic config : lat / lng / zoom #}
{% set zoom = view.options['zoom'] |default(6) %}
{% set lat = view.options['lat'] |default(46) %}
{% set lng = view.options['lng'] |default(2.5) %}

{# layer as geourls #}
{% set geojsons = view.options['geojsons'] |default(null) %}

{# this map is a item map #}

{% set item = view.data.resource.resource |default(null) %}
{% set editable = view.options['editable'] | default(false) %}

{% if item %}
    {% set centrefield_lat = view.options['lat_field'] %}
    {% set centrefield_lng = view.options['lng_field'] %}
    {% if editable %}
        {% set edit_url = path(view.options['edit_route'], {"id": item.id}) %}
    {% endif %}

    {% set polylinefield = view.options['poly_field']|default(null) %}

    {% set lat = attribute(item, centrefield_lat) %}
    {% set lng = attribute(item, centrefield_lng) %}

    {% if polylinefield %}
        {% set polyline = attribute(item, polylinefield) %}
    {% endif %}
{% endif %}

<div id="map-{{ view.id }}" class="crudit-map"
     data-lat="{{ lat }}"
     data-lng="{{ lng }}"
     data-zoom="{{ zoom }}"

     data-with_marker="{{ view.options['with_marker']|default(1) }}"

     {% if geojsons %}data-geojsons="{{ geojsons|json_encode|replace({'%id%':app.request.attributes.get('id','')}) }}"{% endif %}

    {% if item %}
        {% if editable %}
            data-editable="{{ editable }}"
            data-edit_url="{{ edit_url }}"
        {% endif %}
        {% if polylinefield is not null %}
            data-polyline="{{ polyline }}"
            data-polyline_field="{{ polylinefield }}"
        {% endif %}
        data-lat_field="{{ centrefield_lat }}"
        data-lng_field="{{ centrefield_lng }}"
    {% endif %}
>
</div>
