{% block action %}
    <a
            {% block attributes %}
                class="
                    {{ action.cssClass ?? 'btn btn-sm btn-primary' }}
                    {% if disabled %} disabled{% endif %}
                "
                {% if action.modal %}
                    data-bs-toggle="modal"
                    data-bs-target="#modal_{{ action.id ~ line.resource.id }}"
                {% elseif action.confirmModal %}
                    data-bs-toggle="modal"
                    data-bs-target="#modal-confirm"
                    data-confirm-link="{{ path(action.path.route, params) }}"
                    data-confirm-text="{{ ('modal.confirm.' ~ action.label)|trans }}"
                {% elseif not action.disabled %}
                    {% if action.url %}
                        href="{{ absolute_url(action.url) }}"
                    {% else %}
                        href="{{ path(action.path.route, action.path.params({'id': line.id})) }}"
                    {% endif %}
                {% endif %}
                {% if action.target is defined and action.target %}
                    target="{{ action.target }}"
                {% endif %}
            {% endblock %}
    >
        {% if action.icon %}
            {% block icon %}<i class="{{ action.icon.cssClass }}"></i>{% endblock %}
        {% endif %}
        {% if not action.hideLabel and not action.icon %}
            {% block label %}{{ action.label|trans(domain=view.config.translation_domain) }}{% endblock %}
        {% endif %}
    </a>
{% endblock %}
