{% do action.setResource(line.resource) %}

{% set params = { 'id': line.resource.id } %}

{% if action.modal %}
    {% include action.modal with {action: action, id: 'modal_' ~ action.id ~ line.resource.id } %}
{% endif %}

{% set disabled = action.disabled or not
    ((action.path.role is null or is_granted(action.path.role, line.resource))
    and (action.role is null or is_granted(action.role, line.resource)))
%}

{% if not (disabled and crudit_hide_if_disabled(action)) %}
    {% block actions_item %}
        <a
            class="
                {{ action.cssClass ?? 'btn btn-sm btn-primary crudit-action' }}
                {% if disabled %} disabled{% endif %}
            "
            title="{{ action.title|trans(domain=view.config.translation_domain) }}"
            {% if action.modal %}
                data-bs-toggle="modal"
                data-bs-target="#modal_{{ action.id ~ line.resource.id }}"
            {% elseif action.confirmModal %}
                data-bs-toggle="modal"
                data-bs-target="#modal-confirm"
                data-confirm-link="{{ path(action.path.route, params) }}"
                data-confirm-text="{{ ('modal.confirm.' ~ action.label)|trans }}"
            {% elseif not action.disabled %}
                {% if action.url %}
                    href="{{ absolute_url(action.url) }}"
                {% else %}
                    href="{{ path(action.path.route, action.path.params({'id': line.id})) }}"
                {% endif %}
            {% endif %}

            {% if action.target is defined and action.target %}
                target="{{ action.target }}"
            {% endif %}
        >
            {% if action.icon %}
                <i class="{{ action.icon.cssClass }}"></i>
            {% endif %}
            {% if not action.hideLabel and not action.icon %}
                {{ action.label|trans(domain=view.config.translation_domain) }}
            {% endif %}
        </a>
    {% endblock %}
{% endif %}
