{% set allowed_actions = view.data.batch_actions|filter(a => (a.action.path.role is null or is_granted(a.action.path.role)) and (a.action.role is null or is_granted(a.action.role))) %}
{% if allowed_actions is not empty %}
    <div class="mt-2 crudit-batch-list d-none">
        <div class="row">
            <div class="col-md-2 dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownBatchActions"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'crudit.action.batch'|trans({}, 'LleCruditBundle') }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownBatchActions">
                    {% for key, batch_action in allowed_actions %}
                        {% set action = batch_action.action %}
                        {% set params = action.path.params %}
                        {% if batch_action.form is not null %}
                            {% set form = batch_action.form %}
                        {% endif %}
                        {% if
                            (action.path.role is null or is_granted(action.path.role))
                            and (action.role is null or is_granted(action.role))
                        %}
                            {% if action.template %}
                                {% include action.template %}
                            {% else %}
                                {% include '@LleCrudit/brick/list_items/actions/_batch_action.html.twig' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if view.config.datasource_params.count > view.config.datasource_params.limit %}
            <div id="batch-action-page" class="row mt-2 d-none">
                <div class="col-12">
                    <input type="radio" id="batch-action-this-page" name="batch-action-page-form" value="0" checked>
                    <label for="batch-action-this-page">{{ 'crudit.text.current_page'|trans({}, 'LleCruditBundle') }}</label>
                </div>
                <div class="col-12">
                    <input type="radio" id="batch-action-all-page" name="batch-action-page-form" value="1">
                    <label for="batch-action-all-page">{{ 'crudit.text.all_page'|trans({}, 'LleCruditBundle') }}</label>
                </div>
            </div>
        {% endif %}

        <div class="row mt-2">
            {% for key, batch_action in view.data.batch_actions %}
                {% set action = batch_action.action %}
                {% set params = action.path.params %}

                {% if batch_action.form is not null %}
                    {% set form = batch_action.form %}
                {% endif %}

                {% if
                    (action.path.role is null or is_granted(action.path.role))
                    and (action.role is null or is_granted(action.role))
                %}
                    {% if action.modal %}
                        {% include action.modal with {action: action, id: 'modal_' ~ action.id, params: params} %}
                    {% endif %}
                {% endif %}

                {% if form %}
                    {{ form_start(form, {
                        'attr': {
                            'class': 'col form-horizontal needs-validation batch-action-form',
                            'novalidate': 'novalidate',
                            'autocomplete': 'off',
                            'action': path(action.path.route),
                            'id': 'batch-form-' ~ key ~ '-' ~ view.id
                        }
                    }) }}
                    <div class="row">
                        {% for field in form.children %}
                            {% if field.vars.name != '_token' %}
                                {% set classes = 'col-xxxl-3 col-xl-4 col-lg-6 col-xs-12 mb-2 flex-nowrap' %}
                                {% set classes = (field.vars.block_prefixes[1] == 'hidden') ? 'd-none' : classes %}
                                <div class="{{ classes }}">
                                    <div class="form-floating">
                                        {{ form_widget(field) }}
                                        {{ form_label(field) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-12 mb-2 flex-nowrap">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fas fa-check"></i>&nbsp;
                                {{ 'crudit.action.validate'|trans({}, 'LleCruditBundle') }}
                                {% if action and action.label is defined and action.label is not null %}&nbsp;"{{ action.label|trans }}"{% endif %}
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
