{% if view.role is not defined or not view.role or is_granted(view.role) %}
    <div class="card shadow mb-4">
        <div class="card-body">
            {% if view.data.title %}
                <h2 class="{% if view.data.titleCss %}{{ view.data.titleCss }}{% endif %}">{{ view.data.title|trans }}</h2>
                <hr/>
            {% endif %}
            {% if view.data.history is not empty %}
                {% for entry in view.data.history %}
                    <div class="card-timeline">
                        <div class="card-timeline-icon">
                            <i class="fas fa-user"></i>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header collapsed" data-bs-toggle="collapse"
                                 data-bs-target="#collapse-history-{{ loop.index }}" aria-expanded="false"
                                 aria-controls="collapse-history-{{ loop.index }}">
                                <div class="row">
                                    <div class="col-xl-2">
                                    <span class="badge me-4 bg-secondary">
                                    {{ ('crudit.history.action.' ~ entry.log.action)|trans(domain='LleCruditBundle') }}
                                        <small>
                                            {{ entry.entity }}
                                        </small>
                                    </span>
                                    </div>
                                    <div class="col-xl-2">
                                        <span class="me-4 fw-bold">{{ entry.log.username }}</span>
                                    </div>
                                    <div class="col-xl-2">
                                    <span><i class="far fa-clock"></i>&nbsp;
                                        {{ entry.log.loggedAt|date('d/m/Y H:i') }}
                                    </span>
                                    </div>
                                    <div class="col-lg-5">
                                        {% set count =  entry.data|length %}
                                        <i class="fa fa-exchange"></i> {{ 'crudit.field.modification'|trans({'%count%': count}, domain='LleCruditBundle') }}
                                    </div>
                                    <div class="col-md-1">
                                    <span class="btn float-end card-toggle">
                                    <i class="fa fa-chevron-down"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse-history-{{ loop.index }}" class="collapse">
                                <div class="card-body">
                                    <table>
                                        {% for property, value in entry.data %}
                                            <tr>
                                                <td>{{ ('field.' ~ (property|replace({'.': '_'})|lower))|trans(domain=view.config.translation_domain) }}</td>
                                                <td>
                                                    <i class="fas fa-arrow-right mx-2"></i>
                                                </td>
                                                <td>
                                                    {% if value.type == 'boolean' %}
                                                        <span
                                                            class="badge {% if value.raw %}bg-success{% else %}bg-danger{% endif %}">
                                                            {{ value.value|trans(domain='LleCruditBundle') }}
                                                        </span>
                                                    {% elseif value.type == 'single_assoc' %}
                                                        <span class="badge bg-primary">
                                                            {% if value.classname is defined and value.crudConfig is defined and value.crudConfig %}
                                                                <a href="
                                                            {{ path(value.crudConfig.rootRoute ~ '_show', {'id': value.raw.id}) }}
                                                            "
                                                                   class="text-light text-decoration-none">{{ value.value }}</a>
                                                            {% else %}
                                                                {{ value.value }}
                                                            {% endif %}
                                                        </span>
                                                    {% else %}
                                                        {{ value.value }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="card-timeline">
                    <div class="card-timeline-icon">
                        <i class="fas fa-folder-plus"></i>
                    </div>
                </div>
            {% else %}
                <div class="m-4 text-center"><p>{{ 'crudit.history.no_history'|trans(domain='LleCruditBundle') }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
