{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}
    <div class="form-floating">
        <select class="form-control" name="{{ id }}_value" id="input_{{ id }}">
            <option value="all">{{ 'crudit.filter.boolean.all' | trans({}, 'LleCruditBundle') }}</option>
            <option value="true" {% if  filtertype.isSelected(data,"true") %} selected="selected" {% endif %}>{{ 'crudit.filter.boolean.yes' | trans({}, 'LleCruditBundle') }}</option>
            <option value="false" {% if filtertype.isSelected(data,"false") %} selected="selected" {% endif %}>{{ 'crudit.filter.boolean.no' | trans({}, 'LleCruditBundle') }}</option>
        </select>
        <label for="input_{{ id }}">
            {{ filter.filterLabel|trans }}
        </label>
    </div>
{% endblock %}