{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block operator %}
    <div class="input-group-prepend"></div>
{% endblock %}

{% block input %}
    <div class="form-floating">
        <select class="form-control tom-select" data-widget="select2" {% if filtertype.multiple %} multiple {% endif %}
                name="{{ id }}_value{% if filtertype.multiple %}[]{% endif %}">
            {% for k,v in filtertype.choices %}
                <option value="{{ k }}" {% if data['value'] is defined and filtertype.isSelected(data,k) %} selected {% endif %}>{{ v }}</option>
            {% endfor %}
        </select>
        <label for="input_{{ id }}">
            {{ filter.label|trans() }}
        </label>
    </div>
{% endblock %}
