{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}
    <div class="form-floating">
        <input id="input_{{ id }}_value" class="form-control" type="date" name="{{ id }}_value"
               {% if data.value is defined %}value="{{ data.value }}"{% endif %} autocomplete="new-password"/>
        <label for="input_{{ id }}_value">
            {{ filter.label|trans(domain=view.config.translation_domain) }}
        </label>
        <input id="input_{{ id }}_time" class="form-control" type="time" name="{{ id }}_time"
               {% if data.time is defined %}value="{{ data.time }}"{% endif %} step="1" autocomplete="new-password"/>
    </div>
{% endblock %}
