{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}
    <div class="form-floating">
        <input
                type="date"
                name="{{ id }}_value"
                class="form-control"
                id="input_{{ id }}_value"
                {% if data.value is defined %}value="{{ data.value }}"{% endif %}
        >
        <label for="input_{{ id }}_value">
            {{ filter.label|trans() }}
        </label>

        <input
                type="time"
                name="{{ id }}_time"
                class="form-control"
                id="input_{{ id }}_time"
                step="1"
                {% if data.time is defined %}value="{{ data.time }}"{% endif %}
        >
    </div>
{% endblock %}
