{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}

    <div class="form-floating">
        <input class="form-control entity-select" data-url="{{ path(filter.dataRoute) }}?q=" id="input_{{ id }}"  name="{{ id }}_value" placeholder=""/>
        <label for="input_{{ id }}">
            {{ filter.filterLabel|trans() }}
        </label>
    </div>
{% endblock %}
