{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}
    <div class="form-floating">
        <input type="hidden" id="input_{{ id|replace({':': "_"}) }}_items" name="{{ id }}_items" />
        <input id="input_{{ id|replace({':': "_"}) }}"
                class="form-control entity-select"
                name="{{ id }}_value"
                value="{{ data['value']|default('') }}"
                placeholder=""
                data-url="{{ path(filter.dataRoute) }}?q="
                data-options="{{ data["items"]|default("[]")|escape('html_attr') }}"
        />
        <label>{{ filter.label|trans() }}</label>
    </div>
{% endblock %}
