{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}
    <div class="form-floating">
        <input
                id="input_{{ id }}_value"
                class="form-control"
                type="text"
                {% if data.value is defined %} value="{{ data.value }}" {% endif %}
                name="{{ id }}_value"
        />
        <label for="input_{{ id }}_value">
            {{ filter.filterLabel|trans() }}
        </label>
        <input
                id="input_{{ id }}_to"
                class="form-control"
                type="text"
                {% if data.to is defined %} value="{{ data.to }}" {% endif %}
                name="{{ id }}_to"
        />
    </div>
{% endblock %}