{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block operator %}
    <div class="input-group-prepend"></div>
{% endblock %}

{% block input %}
    <div class="form-floating">
        <input
                type="date"
                {% if data.value is defined %} value="{{ data.value }}" {% endif %}
                class="form-control"
                name="{{ id }}_value"
                id="input_{{ id }}_value"
        />
        <label for="input_{{ id }}_value">
            {{ filter.filterLabel|trans() }}
        </label>

        <input
                type="date"
                {% if data.to is defined %} value="{{ data.to }}" {% endif %}
                class="form-control"
                name="{{ id }}_to"
                id="input_{{ id }}_to"
        />
    </div>
{% endblock %}