{% extends "@LleCrudit/filter/type/_base_filter.html.twig" %}

{% block input %}
    <div class="form-floating crudit-filter-workflow">
        <select
                id="input_{{ id | replace({':': '_'}) }}"
                class="form-select tom-select"
                multiple
                name="{{ id }}_value[]"
                autocomplete="off">
            {% for state in filtertype.choices %}
                <option value="{{ state }}" {% if data.value is defined and filtertype.isSelected(data, state) %} selected {% endif %}>
                    {{ ('wf.state.' ~ state) | trans(domain=view.config.translation_domain) }}
                </option>
            {% endfor %}
        </select>
        <label for="input_{{ id }}">
            {{ filter.label | trans(domain=view.config.translation_domain) }}
        </label>
    </div>
{% endblock %}
