<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ view.config.title|trans}}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="{{ view.data.resource.id }}" width="100%" cellspacing="0">
                <tbody>
                    {% for field in view.data.resource.fields %}
                        <tr>
                            <th>{{ field.field.label |trans }}</th>
                            <td>
                                {%  if field.field.path %}<a href="{{ path(field.field.path.route, field.field.path.params({'id': view.data.resource.id})) }}">{%  endif %}
                                    {{ field.value }}
                                {%  if field.field.path %}</a>{%  endif %}
                            </td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
