<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row" id="{{ view.data.resource.id }}">
                    {% for field in view.data.resource.fields %}
                        <div class="crudit-field {{ field.options.cssClass }}">
                            <dl class="row">
                            <dt class="col-sm-3">{{ field.field.label |trans }}</dt>
                            <dd class="col-sm-9">
                                {%  if field.field.path %}<a href="{{ path(field.field.path.route, field.field.path.params({'id': view.data.resource.id})) }}">{%  endif %}
                                    {{ field.value |raw }}
                                {%  if field.field.path %}</a>{%  endif %}
                            </dd>
                            </dl>
                        </div>
                    {% endfor %}
        </div>
    </div>
</div>
