{% block autorefresh %}
    {% if view.data.auto_refresh is defined and view.data.auto_refresh %}
        <meta http-equiv="refresh" content="{{ view.data.auto_refresh }}">
    {% endif %}
{% endblock %}

<div
    class="card shadow mb-4 {% if view.data.resource.resource and view.data.resource.resource.getCssClass is defined %}{{ view.data.resource.resource.getCssClass }}{% endif %}">
    <div class="card-body">
        <div class="row" id="{{ view.data.resource.id }}">
            {% for key, field in view.data.resource.fields %}
                {% if field is iterable %}
                    {% if
                        field.field.role is not defined or field.field.role is null or
                        (field.field.role is defined and field.field.role is not null and is_granted(field.field.role))
                    %}
                        <div class="col-sm-12">
                            <div class="card box box-default mb-3">
                                <div class="card-header">
                                    <div class="card-title">{{ key|trans }}</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for cardField in field %}
                                            <div class="crudit-field {{ cardField.options.cssClass }}">
                                                <dl class="row">
                                                    <dt class="col-sm-3">{{ cardField.field.label |trans(domain=view.config.translation_domain) }}</dt>
                                                    <dd id="{{ 'show-' ~ view.config.name|lower ~ '-' ~ view.data.resource.id ~ '-' ~ cardField.field.id|lower }}" class="col-sm-9">
                                                        {% if cardField.field.path %}<a
                                                            href="{{ path(cardField.field.path.route, cardField.field.path.params({'id': view.data.resource.id})) }}">{% endif %}
                                                            {{ cardField.value |raw }}
                                                            {% if cardField.field.path %}</a>{% endif %}
                                                    </dd>
                                                </dl>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    {% if
                        field.field.role is not defined or field.field.role is null or
                        (field.field.role is defined and field.field.role is not null and is_granted(field.field.role))
                    %}
                        <div class="crudit-field {{ field.options.cssClass }}">
                            <dl class="row">
                                <dt class="col-sm-3">{{ field.field.label |trans(domain=view.config.translation_domain) }}</dt>
                                <dd id="{{ 'show-' ~ view.config.name|lower ~ '-' ~ view.data.resource.id ~ '-' ~ field.field.id|lower }}" class="col-sm-9">
                                    {% if field.field.path %}<a
                                        href="{{ path(field.field.path.route, field.field.path.params({'id': view.data.resource.id})) }}">{% endif %}
                                        {{ field.value |raw }}
                                        {% if field.field.path %}</a>{% endif %}
                                </dd>
                            </dl>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if view.data.createdAt is defined %}
        <div class="card-footer">
            <small>{{ 'crudit.field.createdAt'|trans({}, 'LleCruditBundle') }} {{ view.data.createdAt|date('d/m/Y H:i:s') }}</small>
            {% if view.data.createdBy is defined %}
                <small>{{ 'crudit.field.createdBy'|trans({}, 'LleCruditBundle') }} {{ view.data.createdBy }}</small>{% endif %}
            {% if view.data.updatedAt is defined %}-
                <small>{{ 'crudit.field.updatedAt'|trans({}, 'LleCruditBundle') }} {{ view.data.updatedAt|date('d/m/Y H:i:s') }}</small>{% endif %}
            {% if view.data.updatedBy is defined %}
                <small>{{ 'crudit.field.updatedBy'|trans({}, 'LleCruditBundle') }} {{ view.data.updatedBy }}</small>{% endif %}
        </div>
    {% endif %}
</div>
