{% if data and (data.op == 'isnull' or data.op == 'isnotnull') %}
    <button type="button" class="btn disabled btn-sm btn-primary mt-2 mr-2 mt-md-1">
        {{ filtertype.label|trans(domain=view.config.translation_domain) }}

        {% set options = filter.operators[data.op]|default(null) %}
        {% if options %}
            <i class="{{ options['icon'] }}" title="{{ ('crudit.filter.operator.'~data.op)|trans({}, 'LleCruditBundle') }}"></i>
        {% endif %}
    </button>
{% elseif data and data.value is defined and data.value %}
    <button type="button" class="btn disabled btn-sm btn-primary mt-2 mr-2 mt-md-1">
        {{ filtertype.label|trans(domain=view.config.translation_domain) }}

        {% if data.op is defined %}
            {% set options = filter.operators[data.op]|default(null) %}
            {% if options %}
                <i class="{{ options['icon'] }}" title="{{ ('crudit.filter.operator.'~data.op)|trans({}, 'LleCruditBundle') }}"></i>
            {% endif %}
        {% endif %}

        {% block value %}
            {% if data['value'] is iterable %}
                {% for val in data['value'] %}
                    <span class="badge bg-secondary">{{ val }}</span>
                {% endfor %}
            {% else %}
                <span class="badge bg-secondary">{{ data['value'] }}</span>
            {% endif %}
        {% endblock %}
    </button>
{% endif %}
